.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;

}

 .details{
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
}

.img-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}
button:hover{
    background-color: gold;
}
a{
    text-decoration: none;
    color: black;
}